* {
  box-sizing: border-box;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} 
*,
*::before,
*::after {
  margin: 0 auto;
}

h3 {
  display: none;
}

html {
  width: 100%;
  margin: 0 auto;
}

.wrapp {
  overflow: hidden;
}

.Business-tittle{
  color: #f72210;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f5f6;
  margin: 0 20px 0 20px;
}

main,
section {
  background: white;
  width: 100%;
  margin: 0 auto;
}

.top-navbar {
  background-color: #f72210;
  height: 95px;
  margin: 0 auto;
  width: 100%;
}

.fa-bars,
.nav-item {
  overflow: hidden;
}

.climate {
  width: 28px;
}

.fa-angle-right {
  padding: 2px;
  font-size: 20px;
}

.login-subs {
  font-size: 17px;
  padding-top: 50px;
}

.subscribe-btn {
  background: #ffe400;
  height: 28px;
  width: 125px;
  padding: 4px;
  margin: 4px 14px 14px 10px;
  border-radius: 25px;
  border: none;
}

footer li,
footer a {
  padding-right: 3px;
  padding-left: 3px;
  color: #666;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover,
.h5:hover,
.us-section-bigtxt:hover {
  text-decoration: underline red;
}

.nav-item:hover {
  color: red;
}


.white-navbar {
overflow: hidden;
  clear: both;
  border-bottom: 2px solid #f4f5f6;
  font-size: 15px;
  margin: 0 auto;
  justify-content: left;
}

.position {
  width: 100%;
  height: 15px;
  background-color: white;
}

.corner {
  position: absolute;
  top: 95px;
  right: 20px;
  width: 80px;
  height: 15px;
  border-left: 14px solid white;
  border-top: 15px solid #f72210;
}

.fa-search {
  font-size: 20px;
}

.st-row-imgs {
  max-width: 350px;
}

.st-row-text {
  font-size: 21px;
}

.st-row-text2 {
  max-width: 350px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.the-debate {
  bottom: 2px;
  align-self: flex-end;
}

.h5 {
  font-size: 15px;
}

.h6 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  font-family: Arial, Helvetica, sans-serif;
}

.vs-circle {
  width: 32px;
  height: 32px;
  background-color: black;
  left: 50%;
  top: 0;
}

.v-s {
  border-bottom: 4px solid #d9d9d9;
  height: 20px;
}

.vs-icon {
  height: 35px;
  width: 100%;
}

.double-border {
  border: 1px double;
}

.circle-imgs {
  width: 60px;
}

.the-debate1 {
  border-top: 2px solid #f92859;
  border-bottom: 2px solid #1c87fb;
  height: min-content;
}

.debate-img,
.debate-tx {
 width: 150px;
  overflow: hidden;
}

.circle-imgs-text {
  font-size: 15px;
}

.bottm-subs-butn,
.newsletter-button {
  background-color: #f72210;
}

.newsletter-txt {
  float: right;
  width: fit-content;
}

.footer-icons {
  color: grey;
  width: 30px;
  font-size: 23px;
}

.footer-icons:hover {
  color: lightskyblue;
}

.page-footer-bott {
  color: gray;
  font-size: 13px;
}

.page-footer-bott:hover {
  color: #333;
}

.middle-imgs {
  margin: 9px;
  cursor: pointer;
}

.middle-tittle {
  font-size: 20px;
}

.middle-txtmain {
  font-size: 20px;
  margin: 15px;
  padding-left: 5px;
}

.middle-txt {
  width: 250px;
  font-size: 20px;
  margin: 15px;
  padding-left: 5px;
  justify-content: center;
}

.middle-stn-1 > figure {
  margin-top: 0;
}

.us-section-tittle {
  width: 100%;
}

.footer-list3 > li {
  display: inline-block;
}

@media screen and (max-width: 600px) {
 
  .the-debate-sm {
    display: none;
  }

  .sm-topstory-img {
    width: 400px;
  }

  .st-row-text2,
  .debate-sm {
    max-width: 400px;
  }

  .sm-topstory-img1,
  .sm-topstory-img2 {
    max-width: 400px;
  }

  .st-row-text2-sm {
   max-width: 150px;
  }

  .top-navbar {
    height: 45px;
    width: 100%;
  }

  .logo {
    font-size: 30px;
  }

  .fa-user {
    color: #fdc7c3;
    margin-bottom: 30px;
  }

  .fa-bars {
    color: #fdc7c3;
    font-size: 18px;
  }

  .subscribe-btn {
    font-size: 12px;
    width: 100px;
    margin-bottom: 40px;
    padding: 3px;
  }

  .fa-angle-right {
    font-size: 12px;
  }

  .us-section3 {
    display: none;
  }

  .us-section-bigimg {
    width: 380px;
  }

  .us-section-bigtxt {
    font-size: 18px;
    width: 380px;
  }

  .us {
    color: transparent;
  }

  .aside-pictures {
   max-width: 380px;
    text-align: left;
  }

  .all-access {
    font-size: 15px;
    justify-content: center;
  }

  .newsletter-us-img2 {
    padding-left: 50px;
    padding-bottom: 150px;
  }

  .newsletter-us-text2 {
    position: absolute;
    bottom: 0;
    width: 300px;
    text-align: center;
    padding-left: 20px;
  }

  .margin-all {
    width: 100%;
    margin: 0;
  }

  .newsletter-form {
    width: 350px;
    margin: 0;
  }

  .footer-icons-main {
    position: absolute;
    left: 0;
    top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-family: "Podkova", serif;
    font-size: 40px;
  }
 
  .sm-topstory {
    display: none;
  }

  
.sm-topstory{
 width: fit-content;
}

  .top-navbar {
    height: 50px;
  }

  .login-subs,
  .fa-bars {
    padding-bottom: 35px;
    padding-right: 15px;
  }

  .debate-md-size {
  width: 95%;
  }

  .form-group {
    width: 50%;
margin: 0 200px;
  }

  .st-row-imgs-md {
    margin-left: 200px;
  }

  .st-row-imgslg {
    width:100%
  }

  .custom-sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
  }

  .fa-bars {
    font-size: 30px;
    color: #fdc7c3;
    padding-top: 35px;
  }

  .middle-stn-1,
  .middle-stn-2 {
    width: 95%;
    justify-content: center;
    padding: 0;
  }

  .middle-imgs-main,
  .middle-txtmain,
  .middle-imgs,
  .middle-txt {
   max-width: 180px;
    margin: 3px;
    font-size: 15px;
  }

  .us-section-img {
    max-width: 100px;
    height: 100px;
  }

  .us-section-bigimg {
    width: 100%;
  }

  .all-access {
    font-size: 20px;
  }

  .all-access2 {
    font-size: 15px;
  }

  .us-case {
    margin: 0 auto;
    padding: 0;
    display: block;
  }

  footer {
    width: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
  }


}

@media screen and (min-width: 1064px) {
 .logo {
  font-family: "Podkova", serif;
  font-size: 90px;
}
  .top-navbar{
    height: 95px;
  }

  .form-group {
    width: 100%;
    margin: 0  auto;
  }

  .custom-sticky2 {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
  }

  .middle-imgs-main,
  .middle-txtmain,
  .middle-imgs,
  .middle-txt {
   max-width: 280px;
    margin: 3px;
    font-size: 20px;
  }

  .more-stories-flow {
    overflow: hidden;
   
      }

      
}
