
html,body {
    height: 100%; margin: 0px; padding: 0px;
}

    body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f5f6;
    margin:0 20px 0 20px;
  
    
}
main,
section{
    background: white; 
    width: 100%;
    margin: 0 auto;
    
}

.top-navbar{
background-color: #f72210;
height: 95px;
margin: 0 auto;
width: 100%;
}



.climate{
    width: 28px; 
   
}

.logo {
    font-family: 'Podkova', serif;
    font-size: 90px;
}

.login-subs{
    font-size: 17px;
    padding-top: 50px;
}

.subscribe-btn{
    background: #ffe400;
    height: 25px;
    padding: 2px 0 3px 0;
    margin: 4px 14px 14px 10px;
}

.white-navbar{
    clear: both;
    border-bottom:2px solid #f4f5f6;
    font-size: 17px;
    margin: 0 auto;
    justify-content: left;

}
.white-navbar a:hover{
    color: #f72210;
  
}
  
.position{
    width:100%;
  height: 15px;
  background-color: white;
  margin-top:0  auto;

}
.corner{
    position: absolute;
    top: 95px;
    right: 20px;
    width: 80px;
    height: 15px;
    border-left: 14px solid white;
    border-top: 15px solid #f72210;
  }
    

.fa-search {
    font-size: 20px;

}

.st-row-imgs{
    width: 300px;
    margin-top: 15px;
}
.st-row-text{
    font-size: 21px;

}
.st-row-text2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.the-debate{
    position: sticky;
    bottom: 2px;
    align-self: flex-end;
}
.h5{
    font-size: 15px;
    
}
.h6{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


.circle-imgs{
    width: 60px;
}

.circle-imgs-text{
    font-size: 15px;
}
